@font-face
{
    font-family: 'shapiro';
    src: url('font/shapiro-35feathertext-webfont.eot') format('eot'),
         url('font/shapiro-35feathertext-webfont.woff') format('woff'),
         url('font/shapiro-35feathertext-webfont.ttf') format('truetype'),
         url('font/shapiro-35feathertext-webfont.svg') format('svg');
       }

@font-face
{
    font-family: 'gilroy';
    src: url('font/gilroy-extrabold-webfont.eot') format('eot'),
         url('font/gilroy-extrabold-webfont.woff') format('woff'),
         url('font/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('font/gilroy-extrabold-webfont.svg') format('svg');
            }

body
{
  background-color: #F5ECE8;
}

head
{
  background-color: : #F5ECE8;
}


h1, h2
{
  color: #6A9792;
  font-family: gilroy, "Arial Black", Impact, sans-serif;
}

h1
{
  font-size: xx-large;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h2
{
  font-size: medium;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #6A9792;
  text-shadow: 1px 1px 0px black;
}

p, ul, ol
{
  color: #52514F;
  font-family: shapiro, Arial, helvetica, sans-serif;
  font-size: small;
  text-align: left;
}

span
{
  color: #2D2C2B;
}

.ville, .date
{
  color: #292827;
  font-weight
}


a
{
  color: #292827;
}

.profil
{
  border-width: 2px;
  border-style: dashed;
  border-color: #B1D7D8;
  box-shadow: 0px 2px 4px black;
}

.expe
{
  box-shadow: 0px 2px 4px black;
  background-color: #B1D7D8;
}

.compet
{
  box-shadow: 0px 2px 4px black;
  background-color: #B1D7D8;
}

.form
{
  box-shadow: 0px 2px 4px black;
  background-color: #B1D7D8;
}

.portraitzozo
{

}
