@font-face
{
    font-family: 'shapiro';
    src: url('font/shapiro-35feathertext-webfont.eot') format('eot'),
         url('font/shapiro-35feathertext-webfont.woff') format('woff'),
         url('font/shapiro-35feathertext-webfont.ttf') format('truetype'),
         url('font/shapiro-35feathertext-webfont.svg') format('svg');
       }

@font-face
{
    font-family: 'gilroy';
    src: url('font/gilroy-extrabold-webfont.eot') format('eot'),
         url('font/gilroy-extrabold-webfont.woff') format('woff'),
         url('font/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('font/gilroy-extrabold-webfont.svg') format('svg');
            }

body
{
  background-color: #eae3e3;
}

head
{
  background-color: : #eae3e3;
}


h1, h2
{
  color: #dd7777;
  font-family: gilroy, "Arial Black", Impact, sans-serif;
  text-shadow: 1px 1px 2px black;
}

h1
{
  font-size: xx-large;
  text-align: center;
}

h2
{
  font-size: medium;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #dd7777;
}

p, ul, ol
{
  color: #20366b;
  font-family: shapiro, Arial, helvetica, sans-serif;
  font-size: small;
  text-align: left;
}

strong,
{
  color: #2d095c;
}

.ville, .date
{
  color: #2d095c;
}


a
{
  color: #2d095c;
}

.profil
{
  border-width: 1px;
  border-style: dashed;
  border-color: #dd7777;
  box-shadow: 2px 2px 4px black;
  background-color: #fdc4b6;
}

.expe
{
  box-shadow: 2px 2px 4px black;
  background-color: #fdc4b6;
}

.compet
{
  box-shadow: 2px 2px 4px black;
  background-color: #fdc4b6;
}

.form
{
  box-shadow: 2px 2px 4px black;
  background-color: #fdc4b6;
}
