@font-face {
    font-family: 'shapiro';
    src: url('font/shapiro-35feathertext-webfont.eot') format('eot'),
         url('font/shapiro-35feathertext-webfont.woff') format('woff'),
         url('font/shapiro-35feathertext-webfont.ttf') format('truetype'),
         url('font/shapiro-35feathertext-webfont.svg') format('svg');
       }

@font-face {
    font-family: 'gilroy';
    src: url('font/gilroy-extrabold-webfont.eot') format('eot'),
         url('font/gilroy-extrabold-webfont.woff') format('woff'),
         url('font/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('font/gilroy-extrabold-webfont.svg') format('svg');
              }


h1, h2
{
  color: FF6768;
  font-family: gilroy, "Arial Black", Impact, sans-serif;
  text-shadow: 1px 1px 2px black;

}

h1
{
  font-size: xx-large;
  text-align: center;

}

h2
{
  font-size: medium;
  text-align: left;
}

p, ul, ol
{
  color: 17223B;
  font-family: shapiro, Arial, helvetica, sans-serif;
  font-size: small;
  text-align: right;
}

strong,
{
  color: 17223b;

}

.ville, .date
{
  color: 263859;
}


a
{
  color: 263859;
}
